.home-title{
    font-size: 5rem;
    //padding-left: 3rem;
    //background: orange;

}
.home-content{
    font-size: 1rem;
    //padding-left: 7rem;
    padding-right: 7rem;
    overflow: hidden;

    //background: blue;

}
.profile-image {
    object-fit: cover;
    border-radius: 100%;
}
.image-container {
    //background: green;

    width: 20rem;
    height: 20rem;

}
@media only screen and (max-width: 900px){
  .image-container {
    width: 15rem;
    height: 15rem;
  }
}