.home-title{
    font-size: 5rem;
}
.home-content{
    font-size: 1rem;
    padding-left: 7rem;
    padding-right: 7rem;
}
.profile-image {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 100%;
}