
.section{
    background: #292929;
    width: 75%;
    height: 100%;
    margin-left: auto;
}

.section-title{
    background: red;
}
.section-content{
    background: green;
}
.white-text{
    color:white;
}